.myLibraryContainer {
  background-image: linear-gradient(to bottom right, #3500d3, #190061);
  width: 80vw;
  height: 70vh;
  border-radius: 10px;
  padding: 5px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.entryContainer {
  display: flex;
  flex-direction: row;
}

.entryContainer:hover {
  cursor: grab;
}

.record {
  display: flex;
  flex-direction: column-reverse;
  align-items: baseline;
  flex-wrap: wrap;
  width: 300px;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid #190061;
  border-radius: 5px;
  background-image: url('../../assets/low-poly-grid-haikei_(2).svg');
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.rmvRecordBtn {
  color: white;
  align-self: flex-end;
}

.myLibraryContainer h1 {
  align-self: center;
}

.data {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.imgContainer {
  width: 210px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  padding: 3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.imgContainer:hover {
  cursor: pointer;
}

.imgContainer img {
  max-width: 100%;
  min-height: 100%;
  object-fit: contain;
  border-radius: 3px;
}

.imgContainer.ImageFilter {
  max-width: 100%;
  min-height: 100%;
  object-fit: contain;
  border-radius: 3px;
}

.myLibraryContainer h1 {
  font-family: 'Reso-bold';
}

/* Leaflet Styles */
.leaflet-container {
  height: 360px;
  width: 99%;
  border-radius: 2px;
  margin-left: auto;
  margin-right: auto;
  box-shadow:
    rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.leaflet-control-attribution {
  display: none;
}

.leaflet-control-zoom-in {
  background-color: transparent;
}

.leaflet-control-zoom-out {
  background-color: transparent;
}

.cardText {
  color: rgb(199, 194, 194);
  font-family: 'Reso-Bold';
  font-size: 15px;
  margin: auto;
  text-align: center;
}

.dateText {
  color: rgb(199, 194, 194);
  font-family: 'Reso-Bold';
  font-size: 15px;
  position: relative;
  top: 19px;
  left: 3px;
}

.moveBtn {
  color: white;
}
