/* Make downloaded Fonts available to be imported in other .css files */
@font-face {
  font-family: 'Reso-Regular';
  src: url('./fonts/Reso Regular.ttf');
}

@font-face {
  font-family: 'Reso-Bold';
  src: url('./fonts/Reso Bold.ttf');
}

@font-face {
  font-family: 'Reso-Thin';
  src: url('./fonts/Reso Thin.ttf');
}

@font-face {
  font-family: 'Montserrat-Subrayada-Regular';
  src: url('./fonts/MontserratSubrayada-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat-Subrayada-Bold';
  src: url('./fonts/MontserratSubrayada-Bold.ttf');
}

@font-face {
  font-family: 'Inter-Regular';
  src: url('./fonts/Inter-Regular.ttf');
}

@font-face {
  font-family: 'Inter-Thin';
  src: url('./fonts/Inter-Thin.ttf');
}

@font-face {
  font-family: 'Inter-Light';
  src: url('./fonts/Inter-Light.ttf');
}
